<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- extras from kia kandid -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <intent android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RepairOrderActivity"
            android:screenOrientation="sensorLandscape"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".RepairOrderActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".VCDynamicActivity4"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/Base.Theme.VideoConference">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".virtualroomlist.VirtualRoomListActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            />
        <activity
            android:name=".virtualchatroom.VirtualChatRoomActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            />
        <activity
            android:name="com.kia.vc.feedback.FeedbackActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="false" />
        <activity
            android:name="com.kia.vc.validateDealer.DealerValidationActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="false" /> <!-- for screen sharing -->
        <!-- <service -->
        <!-- android:name=".screenshare.MediaProjectionService" -->
        <!-- android:foregroundServiceType="mediaProjection" -->
        <!-- android:enabled="true" -->
        <!-- android:stopWithTask="true" -->
        <!-- android:exported="true" -->
        <!-- /> -->
        <receiver
            android:name=".VCDynamicActivity4$AlarmReceiver"
            android:enabled="true"
            android:screenOrientation="sensorLandscape"
            android:exported="false" /> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="com.app.vc.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths"/> -->
        <!-- </provider> -->
        <!-- Required: set your sentry.io project identifier (DSN) -->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://0fd35e8f80c422acc97832d13d63fcbc@o645857.ingest.sentry.io/4506632351318016" /> <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" /> <!-- enable screenshot for crashes -->
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true" /> <!-- enable view hierarchy for crashes -->
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true" /> <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" /> <!-- enable profiling when starting transactions, adjust in production env -->
        <meta-data
            android:name="io.sentry.traces.profiling.sample-rate"
            android:value="1.0" />
    </application>

</manifest>